
<router-outlet></router-outlet>
<style>
  .parallax {
    /* The image used */
    background-image: url("./assets/parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>

<!--barra-->


 <img src="./assets/parallax.jpg" alt="" class="img-fluid">
  <div class="container">
    <div style="margin: 5%;"></div>
    <div class="text-center">
      <h1 style="color: #FF6B19;">Sitio en desarrollo🦜</h1>
      <h4 style="color: #130DFF;">🦅Estamos trabajando en algo genial. Pronto podrás descubrirlo.</h4>
    </div>
   
  </div>
  
 
